{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">SHRED THOSE FINGERS</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p allign="justify>"
                        <br/><br/>
                        Hey, fingerboarders! Welcome to our space dedicated to the incredible world of miniature skateboarding. For us, fingerboarding is so much more than a hobby; it’s an art form, a test of skill, and a creative outlet that fits right in your pocket. We remember the first time we picked up a tiny deck, feeling that familiar sense of challenge and stoke as we tried to land our first kickflip. The tactile feel of the board, the satisfying clack of a perfectly executed grind, and the endless possibilities of custom setups and miniature skateparks—this is what keeps us hooked. It’s a community built on passion, where a shared love for these tiny decks brings people together from all walks of life. We're here to celebrate that passion and provide everything you need to push your fingerboarding journey to the next level.
                        <br/><br/>
Our mission is to support and grow the fingerboarding community by offering the best gear and inspiration available. We handpick every deck, truck, and wheel to ensure you get the same quality and performance you'd expect from a full-sized skateboard. Whether you're a seasoned veteran with a huge bag of tricks or just starting out, we've got something for you. We believe in the power of this tiny sport to spark creativity, encourage persistence, and connect people through a shared love of shredding. So, take a look around, find your perfect setup, and join us in celebrating the incredible, tiny world of fingerboarding.
                        <br/><br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}